[user]
  name = Phil Oye
  email = philoye@philoye.com
[core]
  pager = less -FRSX
  whitespace = fix
  quotepath = false
  excludesfile = ~/.gitignore
[diff]
  renamelimit = 0
  tool = changes
[difftool "changes"]
  cmd = /usr/bin/env chdiff --wait "$LOCAL" "$REMOTE"
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = always
  pager = true
[pack]
  threads = 0
[branch]
  autosetupmerge = true
  autosetuprebase = always
[gui]
  recentrepo = /Users/philoye/Sites/oyemodern
[push]
  default = matching
[merge]
  log = true
[alias]
  co = checkout
  st = status
  br = branch
  ci = commit
  l = log --graph --date=local --decorate --pretty=format:'%Cred%h%d%Creset%C(white) by %an, %ad (%ar)%n%s%n'
[github]
	user = philoye
